<section class="about-us-section">
    <!-- <div class="container"> -->
    <div class="flex-col-2">
        <h2 class="about-us__title">&lt;Here is what you get&gt;</h2>
        <div class="about-us__bg-img"></div>
    </div>
    
    
    <div class="flex-col-2">
    <div class="goods">
        <div class="goods__img">
            <img class = "goods_icon" src="./img/about-us-icon-1.png" alt="icon1">
        </div>
        <div class="goods__description">
            <h4 class="goods__title">Creatred to Make The Web Better</h4>
            <p class="goods__title--text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.  </p>
        </div>
    </div>

    <div class="goods">
        <div class="goods__img">
            <img class = "goods_icon" src="./img/about-us-icon-2.png" alt="icon2">
        </div>
        <div class="goods__description">
            <h4 class="goods__title">Incredibly Powerful Tool</h4>
            <p class="goods__title--text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
        </div>
    </div>

    <div class="goods">
        <div class="goods__img">
            <img class = "goods_icon" src="./img/about-us-icon-3.png" alt="icon3">
        </div>
        <div class="goods__description">
            <h4 class="goods__title">Experimental Stuff</h4>
            <p class="goods__title--text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.   </p>
        </div>
    </div>

    <div class="goods">
        <div class="goods__img">
            <img class = "goods_icon" src="./img/about-us-icon-4.png" alt="icon4">
        </div>
        <div class="goods__description">
            <h4 class="goods__title">Creatred to Make The Web Better</h4>
            <p class="goods__title--text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.  </p>
        </div>
    </div>
</div>

<img class="about-us__img" src="./img/about-us-img.svg" alt="">
    <!-- </div> -->
</section>