<footer class="footer">
    <h2 class="footer__title">Fork Subscription Pricing</h2>
    <div class="flex__container">
        <div class="card">
            <h4 class="card__title">Students</h4>
            <div class="flex">
                <div class="flex__item"><p class="price">29$</p></div>
                <div class="flex__item"><p class="price__period">per month</p></div>
                <div class="flex__item"><p class="type">Professional License</p></div>
                <div class="flex__item"><a href="" class="card__btn btn ">purchase</a></div>
            </div>
        </div>
        <div class="card">
            <h4 class="card__title">professional</h4>
            <div class="flex">
                <div class="flex__item"><p class="price">59$</p></div>
                <div class="flex__item"><p class="price__period">per month</p></div>
                <div class="flex__item"><p class="type">Professional License  Email Support</p></div>
                <div class="flex__item"><a href="" class="card__btn btn ">purchase</a></div>
            </div>
        </div>
        <div class="card">
            <h4 class="card__title--active">agency</h4>
            <div class="flex_active">
                <div class="flex__item_active"><p class=" price_active">99$</p></div>
                <div class="flex__item_active"><p class=" price__period price__period--active">per month</p></div>
                <div class="flex__item_active"><p class="type type--active">1-12 Team Members  Phone Support</p></div>
                <div class="flex__item_active"><a href="" class="card__btn btn btn--active">purchase</a></div>
            </div>
        </div>
        <div class="card">
            <h4 class="card__title">enterprise</h4>
            <div class="flex">
                <div class="flex__item"><p class="price">159$</p></div>
                <div class="flex__item"><p class="price__period">per month</p></div>
                <div class="flex__item"><p class="type">Unlimited Team Members 24/ 7 Phone Support</p></div>
                <div class="flex__item"><a href="" class="card__btn btn ">purchase</a></div>
            </div>
        </div>
    </div>
</footer>
