.title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  width: max-content;
  margin: 0 auto;
  text-transform: capitalize;

  @media ($tablet) {
    font-size: 42px;
  }

  @media ($phone) {
    font-size: 36px;
    line-height: 48px;
    width: 307px;
    text-align: center;
  }
}