@import '../mixins';
@import "../varaibles";

.navbar {
  width: 100%;
  padding: 31px 0 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 1;
  @include flex;
  justify-content: space-evenly;
  align-items: center;
  color: $color;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-style: normal;
  background: transparent;

  @media ($tablet) {
    justify-content: space-between;
    padding: 24px 20px;
  }
  
  @media ($phone) {
    justify-content: space-between;
    padding: 34px 10px;
    background-color: #27262A;
  }

  &__logo--link {
    color: $color;
    text-decoration: none;
    max-height: 38px;
  }

  &__btn {
    text-decoration: none;
    padding: 12px 40px;
    box-sizing: border-box;
  }

  &__logo--block {
    width: 160px;
    @include flex__between;
    align-items: center;

    &:hover .navbar__logo {
      color: white;
    }

    @media ($phone) {
      width: max-content;
    }
  }

  &__logo {
    text-transform: uppercase;
    font-size: 24px;
    position: relative;

    @media ($phone) {
      display: none;
    }
  }

  &__links {
    max-width: 710px;
    width: 710px;
    @include flex__between;
    align-items: center;

    @media ($tablet) {
      position: absolute;
      justify-content: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    @media ($phone) {
      width: max-content;
      height: 0;
      flex-direction: column;
      justify-content: flex-start;
      top: 113px;
      background-color: #27262A;
      z-index: -2;
      transition: height 1.4s ease-out;
      overflow: hidden;

      &--active {
        height: 389px;
        padding: 0;
        transition: 1s ease-out;
      }
    }
  }

  &__link {
    color: $color;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 900;


    &:hover {
      color: white;
    }

    @media ($tablet) {
      margin: 0 18px;
    }
    
    @media ($phone) {
      width: 290px;
      height: 0;
      padding: 29px 0 29px 33px;
      box-sizing: border-box;
      border-bottom: 3px solid #3B3B3B;
      font-size: 26px;
      font-weight: 100;
      margin: 0;
      color: white;
      position: relative;
      //overflow: hidden;
      //opacity: 0;
      transition: height .5s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 53px;
        background-color: $color;
        left: 0;
        top: 19px;
        display: none;
      }

      &:hover::before {
        display: block;
      }

      &:hover {
        color: $color;
      }

      &--active {
        height: 88px;
        transition: 1s ease-in-out;
      }
    }
  }
}


.burger__block {
  display: none;
  height: 20px;
  //display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  @media ($phone) {
    width: 20px;
    display: flex;
  }
}

.burger {
  width: 26px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  transition: 1s ease-in-out;
}

.burger--uniq {
  width: 15px;
  &--active {
    transform: translateX(-70%);
    opacity: 0;
    transition: 1s ease-in-out;
  }
}

.burger--close {
  transition: .7s ease-in-out;
}

.burger--up {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(945deg);
  transition: .7s ease-in-out;
}

.burger--down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-945deg);
  transition: .7s ease-in-out;
}