@import "../mixins";

.review {
  height: 100%;
  padding: 108px 0 25px;
  box-sizing: border-box;
  background: url("../img/review-bg.png") no-repeat center;
  background-size: cover;

  @media ($phone) {
    height: 1545px;
    padding: 57px 0 57px;
    background-color: #4B3B4E;
  }

  &__cards--block {
    @include flex;
    //flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
    height: 500px;

    @media ($phone) {
      margin-top: 53px;
    }
  }

  &__card {
    max-width: 345px;
    text-align: center;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-style: italic;

    &--img {
      max-height: 50px;
    }

    &--text {
      max-width: 320px;
      margin-top: 33px;
      line-height: 24px;

      @media ($phone) {
        margin-bottom: 45px;
      }
    }
  }

  &__text {
    max-width: 860px;
    margin: 120px auto 0;
    color: #A291A5;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    position: relative;

    &::before {
      content: "";
      width: 770px;
      height: 2px;
      background-color: #645766;
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translate(-50%);
    }

    @media ($phone) {
      display: none;
    }
  }
}